a{
	color:#fff;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

h1{
	color:#fff;
	display:inline-block;
	font-size:2em;
	font-weight:700;
	margin-bottom:.1em;
	margin-left:1em;
	text-align:center;
}

h2{
	color:#fff;
	font-size:1.5em;
	font-weight:600;
	margin-bottom:.1em;
	margin-left:1em;
	text-align:center;
}

h3{
	font-size: 1.25em;
	font-weight:600;
	margin-bottom:.1em;
	margin-left:1em;
}

li{
	font-size:1em;
}

p{
	color: #fff;
	font-size: 1.1em;
	margin-left:1em;
}

#advanced{
	
}

#banner{
	background-color:#328f70;
	left:0;
	padding-bottom:.25em;
	position:relative;
	top:0;
	width:100%;
}

#beginner{
	padding-right:1em;
	
}

#intermediate{
	padding-right:1em;
}

.level{
	float:left;
	display: inline-block;
	height:400px;
	
}

#license{
	clear:both;
	color:#000;
	display:inline-block;
	font-size:.9em;
	font-weight:300;
	margin-left:1em;
}

#license a{
	color:#328f70;
}

#menu{
	margin-left: auto;
	margin-right: auto;
	width:90%;
}

#menu a{
	color:#4d4e53;
}