body{
  background-color: #0c1c8c;
}

a {
  color:#cff;
}

a.visited {
  color:#add;
}

h1{
  display:inline;
  position: relative;
  top:0px;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 48px;
  color:#fff;
  text-shadow: 0px 0px 5px #0c1c8c, 0px 0px 10px #0c1c8c, 0px 0px 15px #0c1c8c;
}

h2{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

img{
  max-width: 100%;
}

.leftText{
  color: #fff;
}

.rightText{
  color:#0c1c8c;
}

h3{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
}

p{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}

ul{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}

#banner{
  position: relative;
  top:0;
  left:0;	
  max-width:675px;
  padding-left: 25px;
  background-color: #fff;
}

#clear{
  display: inline-block;
  clear:both;
  width: 20%;
}

#lefty{
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 300px;
  float: left;

}

#righty{
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  float:left;
  max-width: 300px;
  height: 100vh;
  background-color: #fff;
}

.license{
  font-family: monospace;
  font-size: 12px;
  color: #fff;
}