/* White brick wall image CC0 - Public Domain, from https://pixabay.com/en/wall-bricks-white-white-brick-wall-769963/ */

/* Layout */

body {
	background-image:url('white-brick-wall.jpg');
	background-size:cover;
	font-size: 1.1em;
}

header, main, footer{
}

/* Typography */

a{
	font-color:#000;
	
}

/* Specific styles */

#card{
	position:absolute;
	background-color: #eee;
	top:560px;
	left:10px;
	padding:.25em;
	width: 175px;
}

#license{
	position: absolute;
	left:10px;
	top:625px;
	font-family:monospace;
	font-size:.75em;
	
}

#license a{
	color:#000;
}

#container{
	height:640px;
	margin-top:2em;
	text-align:center;
	width:480px;	
}

#frame{
	position:absolute;
	left:10px;
	top:10px;
	z-index:999;
	
}

#portrait{
	position:absolute;
	top:85px;
	left:65px;
	z-index:-999;
}
