a{
	color:#000;
}

body{
	font:14px/1.4 "Open Sans", sans-serif;
	margin:0;
}

header, main, footer {
	padding: 2em;
}

h1{
	font-size:2em;
	font-weight:800;
	text-align:center;
}

h2{
	font-size:1.5em;
	font-weight:600;
	text-align:center;
}

h3{
	font-size:1.25em;
	font-weight: 600;
}

li{
	font-size:.9em;
	font-weight:400;
}

p{
	font-size:1.1em;
	font-weight:400;
	padding: .4em;
}

.row{
	clear:both;
	margin-bottom: 2em;
}
.row::after {
	clear:both;
	content:'';
	display:block;
}

.activity{
	display:block;
	float:left;
	min-width: 260px;
	width: 33%;
}

#banner{
	background-color:#c13812;
	color:#fff;
}

#banner a{
	color:#fff;
}

#license{
	border-top: 1px solid #eee;
	font-size:.75em;
	font-weight:300;
	color: #aaa;
}

#license a{
	color: #aaa;
}
