a{
	color:#000;
}

body{
	font-family:"Open Sans", sans-serif;
	margin:0;
}

h1{
	font-size:2em;
	font-weight:800;
	padding-left:.25em;
	text-align:center;
}

h2{
	font-size:1.5em;
	font-weight:600;
	padding-left:.25em;
	text-align:center;
}

h3{
	font-size:1.25em;
	font-weight: 600;
}

li{
	font-size:.9em;
	font-weight:400;
}

p{
	font-size:1.1em;
	font-weight:400;
	padding-left:1em;
	padding-right:1em;
}

.activity{
	display:inline-block;
	padding-right:8em;	
}

.activityCloser{
	display:inline-block;	
}

#banner{
	background-color:#c13812;
	color:#fff;
	padding-top:1em;
	padding-bottom:.25em;
	position:relative;
	top:-1.5em;
	width:100%;
}

#banner a{
	color:#fff;
}

#license{
	clear:both;
	font-size:.75em;
	font-weight:300;
}

#testBed{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}