$license-color:black;
$license-font:monospace;
$license-size:.9em;
$license-h-spacing:2.5%;
$license-v-spacing:1em;

$wrapper-height:100%;
$wrapper-primary-margin-l:auto;
$wrapper-primary-margin-r:auto;
$wrapper-width:90%;

#license{
	color:$license-color;
	font-family:$license-font;
	font-size:$license-size;
	margin-bottom:$license-v-spacing;
	margin-left:$license-h-spacing;
	margin-top:$license-v-spacing;
}

#license a{
	color:$license-color;
}

.wrapper{
	height:$wrapper-height;
	margin-left:$wrapper-primary-margin-l;
	margin-right:$wrapper-primary-margin-r;
	width:$wrapper-width;
}