$primary-h1-color:black;
$primary-h1-font:'Open Sans', sans-serif;
$primary-h1-size:3em;
$primary-h1-weight:700;

h1{
	color:$primary-h1-color;
	font-family:$primary-h1-font;
	font-size:$primary-h1-size;
	font-weight:$primary-h1-weight;
}

$primary-h2-color:black;
$primary-h2-font: 'Open Sans', sans-serif;
$primary-h2-size:2em;
$primary-h2-weight:300;

h2{
	color:$primary-h2-color;
	font-family:$primary-h2-font;
	font-size:$primary-h2-size;
	font-weight:$primary-h2-weight;
}

$primary-col-color:black;
$primary-col-font:'Open Sans', sans-serif;
$primary-col-line-spacing:1.1em;
$primary-col-size:1em;
$primary-col-weight:300;

[class*='col-']{
	color:$primary-col-color;
	font-family:$primary-col-font;
	font-size:$primary-col-size;
	font-weight:$primary-col-weight;
}

$primary-p-color:black;
$primary-p-font:'Roboto Slab', serif;
$primary-p-size:1em;
$primary-p-weight:300;

p{
	color:$primary-p-color;
	font-family:$primary-p-font;
	font-size:$primary-p-size;
	font-weight:$primary-p-weight;
}

$primary-table-color:black;
$primary-table-font:'Open Sans', sans-serif;
$primary-table-size:1em;
$lightweight-table-font:300;
$heavyweight-table-font:600;

td{
	color:$primary-table-color;
	font-family:$primary-table-font;
	font-size:$primary-table-size;
	font-weight:$lightweight-table-font;
}

th{
	color:$primary-table-color;
	font-family:$primary-table-font;
	font-size:$primary-table-size;
	font-weight:$heavyweight-table-font;	
}