/*Layout*/

body{
	padding-left:.25em;
	padding-top:.25em;
}

footer{
	padding-top:1em;
}

/*Typography*/

h1{
	font-family: 'Crete Round', serif;
	font-size: 1.25em
}

/*Specific styles*/

#license{
	font-family:monospace;
	font-size:.9em;
}

#license a{
	color:#000;
}