body {
	
	/*Layout*/
	
	margin-left: 1em;
}

button {

}

.license {
	
	/*Typography*/
	
	color: #000;
	font-family: monospace;
	font-size: .9em;
	
	/*Layout*/
	
	bottom: 1em;
	position: absolute;
}

.license a {
	
	/*Typography*/
	
	color: #000;
}

#story-space {
	
}
