/*Layout*/

html {
	height: 100%;
}

body {
	
    background: #006D93; /* For browsers that do not support gradients*/
	background: -webkit-linear-gradient(right bottom, #006D93, #2DC9FF); /* For Safari 5.1 to 6.0*/
    background: -o-linear-gradient(top left, #006D93, #2DC9FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, #006D93, #2DC9FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, #006D93, #2DC9FF); /* Standard syntax */
    background-size: 100% 100%;
    background-repeat: no-repeat;
	
	height: 100%;
	margin-left: 1em;
}

button {
	
	background-color: #ddd;
	border: 2px solid #777;
	border-radius: 5px;
	
	font-family: "Open Sans", sans-serif;
	font-size: 1.125em;
	font-weight: 300;
		
}

h1, h2 {
	
	margin-bottom: 0;
	
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	/*text-shadow: 1px 1px 4px #FECD02;*/
}

h1 {
	
	margin-top:0;
	
	font-size: 3em;
	font-weight: 600;
}

h2 {
	
	margin-top: .125em;
	
	font-size: 2em;
	font-weight:400;
}

#my-pictures {
	
	background-color: #ddd;
	border: 2px solid #777;
	border-radius: 5px;
	min-height: 300px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
	width: 40%;

}

/*Typography*/

.license {
	
	top: 1em;
	position: relative;
	
	color: #fff;
	font-family: monospace;
	font-size: .9em;
}

.license a {
	color: #fff;
}