h1, h2 {
	color:#000;
	font-family: 'Viga', sans-serif;
	margin-bottom:.25em;
	margin-top:.25em;
}

h1{
	font-size:3em;
}

h2 {
	font-size: 2em;
}

h3 {
	color:#fff;
	font-family: 'Wendy One', sans-serif;
	font-size: 2em;
	letter-spacing:.03em;
	padding-bottom:.5em;
	padding-top:.5em;
}

h4 {
	color:#fff;
	font-family: 'Wendy One', sans-serif;
	font-size: 2em;
	letter-spacing:.05em;
	padding-bottom:.0125em;
	padding-top:.0125em;
}

main {
	height:600px;
	padding:0;
	text-align:center;
	width:400px
}

footer {
	top:2.5em;
	position: relative;
	
}

.poster {
	background-image:url('https://pixabay.com/static/uploads/photo/2012/12/30/18/51/woman-73115_960_720.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	left:0;
	margin-left:auto;
	margin-right:auto;
	position:relative
	top:0;
	width:400px;
	height:600px;
}

.name {
	background-color:#FC2B27;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	
}

/*Image credit CC0 geralt, https://pixabay.com/en/woman-group-silhouette-rate-73115/*/

.slogan {
	background-color:#2A8986;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	top:650px;
	width:400px;
}

.license {
	color: #000;
	font-family:monospace;
	font-size:.9em;

}

.license a {
	color:#000;
}