/* line 4, ../sass/partials/layout.scss */
body {
  background-color: #01bc85;
  margin: 0;
}

/* line 9, ../sass/partials/layout.scss */
h1 {
  margin-bottom: 0.125em;
  margin-left: 2.5%;
  margin-top: 0.125em;
}

/* line 15, ../sass/partials/layout.scss */
h2 {
  margin-bottom: 0.125em;
  margin-left: 2.5%;
  margin-top: 0.125em;
}

/* line 21, ../sass/partials/layout.scss */
header {
  background-color: #01bc85;
  z-index: 0;
}

/* line 26, ../sass/partials/layout.scss */
main {
  background-color: #01bc85;
  margin-top: 2em;
  z-index: -499;
}

/* line 33, ../sass/partials/layout.scss */
footer {
  z-index: -999;
  margin-top: 2em;
}

/* line 38, ../sass/partials/layout.scss */
.label {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* line 44, ../sass/partials/layout.scss */
.label-left {
  background-color: #63cfea;
  padding-bottom: .5em;
  padding-top: .5em;
}

/* line 50, ../sass/partials/layout.scss */
.last {
  padding-bottom: 1em;
}

/* line 54, ../sass/partials/layout.scss */
.sub-label {
  padding-bottom: .5em;
  padding-top: .5em;
}

/* line 6, ../sass/partials/typography.scss */
h1 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: 700;
}

/* line 18, ../sass/partials/typography.scss */
h2 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
}

/* line 31, ../sass/partials/typography.scss */
[class*='col-'] {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* line 43, ../sass/partials/typography.scss */
p {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  font-weight: 300;
}

/* line 56, ../sass/partials/typography.scss */
[class*=col-] {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  font-weight: 300em;
  text-align: left;
}

/* line 63, ../sass/partials/typography.scss */
.label {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

/* line 69, ../sass/partials/typography.scss */
.label-left {
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  text-align: left;
}

/* line 76, ../sass/partials/typography.scss */
.sub-label {
  font-size: 1.125em;
  font-weight: 400;
  text-align: left;
}

/* line 82, ../sass/partials/typography.scss */
.sub-label-only {
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
}

/* line 12, ../sass/partials/specific-styles.scss */
#license {
  color: black;
  font-family: monospace;
  font-size: 0.9em;
  margin-bottom: 1em;
  margin-left: 2.5%;
  margin-top: 1em;
}

/* line 21, ../sass/partials/specific-styles.scss */
#license a {
  color: black;
}

/* line 25, ../sass/partials/specific-styles.scss */
.wrapper {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* line 19, ../sass/partials/grids.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/partials/grids.scss */
.grid {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* line 32, ../sass/partials/grids.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, ../sass/partials/grids.scss */
[class*='col-'] {
  border: 0 solid none;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 45, ../sass/partials/grids.scss */
[class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 49, ../sass/partials/grids.scss */
.col-1-4 {
  width: 25%;
}

/* line 53, ../sass/partials/grids.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 57, ../sass/partials/grids.scss */
.col-1-2 {
  width: 50%;
}

/* line 61, ../sass/partials/grids.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 65, ../sass/partials/grids.scss */
.col-3-4 {
  width: 75%;
}

/* line 69, ../sass/partials/grids.scss */
.col-1-1 {
  width: 100%;
}
