    body {
     overflow:hidden;
     background: #000;
     margin:0;
     padding:0;
     z-index: -5;
    }

    #questForTheOpenWeb{
     width: 315px;
     height: 500px;
     background:#fff;
     border: 2px solid black;
     border-radius: 5px;
     padding: 5px;
    }

    #banner{
     display: inline;
     font-family: 'Trade Winds', monospace;
     font-size: 20px;
    }

    #tagLine{
     font-family: 'Just Another Hand', cursive;        
     font-size: 24px;
     color: #000;
     display: inline;
     color: #09b; 
    }

    #userName{
     font-family: 'Just Another Hand', cursive;        
     font-size: 24px;
     color: #000;
     display: inline;
    }

    #tapMe {
      font-family: 'Just Another Hand', monospace;
      font-size:24px;
      position: fixed;
      left:215px;
      top:150px;
      width:100px;
      z-index:0;
    }

    #touchMe {
      position:fixed;
      left:108px;
      width:150px;
      top:150px;
      height:80px;
      z-index:2;
    }

    #myTrueName{
     position: fixed;
     top: 275px;
     left: 10px;
     width: 290px;
     padding: 15px;
     z-index: 0;
     font-family: 'Just Another Hand', monospace;
     font-size: 34px;
    }

    #myBuff{
     position: fixed;
     top: 360px;
     left: 10px;
     width: 290px;
     padding: 15px;
     z-index: 0;
     font-family: 'Just Another Hand', monospace;
     font-size: 34px;
     color: #09b; 
    }


    #license {
     position: fixed;
     top: 438px;
     left: 12px;
     font-family: 'Just Another Hand', cursive;        
     font-size: 20px;
     color: #000;
     display: inline;
     z-index: 2;
     line-height: 115%;
    }

    a {
     text-decoration: none;
     color: #000;
     }

    #remix{
     position: fixed;
     top: 438px;
     left: 272px;
     font-family: 'Just Another Hand', cursive;        
     font-size: 20px;
     color: #000;
     display: inline;
     z-index: 2;
    }