/* line 4, ../../sass/partials/layout.scss */
h1 {
  margin-bottom: 0.125em;
  margin-left: 0.25em;
  margin-top: 0.125em;
}

/* line 10, ../../sass/partials/layout.scss */
h2 {
  margin-bottom: 0.125em;
  margin-left: 0.25em;
  margin-top: 0.125em;
}
