/* line 6, ../../sass/partials/typography.scss */
h1 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: 700;
}

/* line 18, ../../sass/partials/typography.scss */
h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
}

/* line 31, ../../sass/partials/typography.scss */
[class*='col-'] {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* line 43, ../../sass/partials/typography.scss */
p {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  font-weight: 300;
}

/* line 56, ../../sass/partials/typography.scss */
td {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/* line 63, ../../sass/partials/typography.scss */
th {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
}
