body {
	
	/*Positioning*/
	margin-left:1em;

}

h1 {
	
	/*Positioning*/
	margin-bottom:2%;
	margin-top:2%;
	
	/*Typography*/
	
	font-family: 'Ranchers', sans-serif;
	font-size: 2em;
	
	
}

h2 {
	
	/*Positioning*/
	
	margin-bottom:2%;
	margin-top:2%;
		
	/*Typography*/
	
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 1em;
	
}

table, th, td {
	
	/*Typography*/
	
	font-family: 'Petrona', serif;
	font-size:.9em;
	
}

table {
	
	/*Positioning*/
	
	border-collapse: collapse;
	margin-bottom:1em;
	margin-top:1em;
	width:80%;
}

th, td{
	
	/*Positioning*/
	
	padding-left:.25em;
	padding-top:.25em;
	text-indent:.125em;
	
	/*Box-model*/
	
	height:3em;
	
	/*Visuals*/
	
	border:.25px solid #000;
	
}

#license {
	
	/*Positioning*/
	
	margin-top:2em;
	
	/*Typography*/
	
	color:#000;
	font-family:monospace;
	font-size:.9em;
	
}

#license a {
	
	/*Typography*/
	
	color:#000;

}